* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --gameboard-width-height: min(100vh, 400px);
  --header-height: 100px;
  --labels-height: 50px;
}

/*
    structure
*/

.page {
  min-height: 100vh;
}

header h1 {
  height: var(--header-height);
  background-color: aqua;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.labels {
  width: var(--gameboard-width-height);
  height: var(--labels-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.game {
  width: var(--gameboard-width-height);
  height: var(--gameboard-width-height);
  background-color: red;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.game-block {
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}






